.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
push
MNIST_data
build
*.egg-info
dist
model_log

LSTM_Encoder
data/stanfordSentimentTreebank*
data/GoogleNews-vectors-negative300.bin*




_bu